 /* base.html custom styles here */


 .description, .meals {
    margin-left: 30px; /* Adjust the value as needed */
}

.meal-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.meal-name {
    font-size: 18px;
    margin-top: 10px;
    padding: 5px 10px; /* Add some padding to the meal name for better visibility */
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    color: rgb(0, 0, 0); /* Set the initial text color */
    background-color: rgba(255, 255, 255, 0.8); /* Set an initial light background color */
}

.meal-name:hover {
    color: rgb(255, 98, 0);
    background-color: rgba(255, 253, 195, 0.84);
}

.meal-item {
    width: calc(50% - 10px); /* 50% width minus the gap */
    margin-bottom: 20px;
}

.meal-container {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.meal-image {
    color: rgb(30, 18, 255);
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer; /* Change cursor to indicate clickable */
    transition: transform 0.2s; /* Add smooth transition on hover */
}

.meal-image:hover {
    transform: scale(1.05); /* Enlarge image slightly on hover */
}

.meal-name {
    font-size: 18px;
    margin-top: 10px;
    text-decoration: underline; /* Underline to indicate clickable */
    cursor: pointer; /* Change cursor to indicate clickable */
    transition: color 0.2s; /* Add smooth color transition on hover */
}