/* styles for Japanese_food.html */
body {
  background-color: rgb(230, 220, 207);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  font-size: 16px; /* Adjust the base font size */
}

.japanese-food-details {
  background-color: #d2853da6;
  padding: 15px; /* Reduce padding to make it smaller */
  border-radius: 10px;
  max-width: 800px; /* Reduce the maximum width */
  margin: 0 auto;
  text-align: center;
}

.food-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.food-image {
  width: auto;
  max-height: 60%; /* Reduce the maximum height */
  max-width: 60%; /* Reduce the maximum width */
}

.description, .ingredients, .price {
  margin-bottom: 20px;
  font-size: 14px; /* Adjust the font size for these elements */
}

.ingredient-name {
  font-weight: bold;
  color: #000000;
  font-size: 18px; /* Adjust the font size for ingredient names */
}

.ingredient-description {
  font-size: 14px; /* Adjust the font size for ingredient descriptions */
  color: #323232;
  margin: 5px 0 0 15px; /* Indent the description slightly */
}

ul {
  list-style-type: none;
}
