/* Your existing custom styles */
/* Add your existing styles here, if you have any */

/* New styles for the About Us page */
.about-container {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

.about-header {
  font-size: 45px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.about-text {
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

/* New styles for the Japanese Food page */
.page-title {
  font-size: 45px;
  color: rgba(0, 0, 0, 0.822);
}

.food-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin-top: 20px;
}

.food-item {
  text-align: center;
}

.food-image-container {
  width: 100%;
  height: 200px; /* Adjust the height to your desired size */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

.food-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
