<!DOCTYPE html>
<html>
<head>
  <title>About Us - Japanese Food Website</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  {% extends 'layout.html' %}
  {% block content %}
    <div class="about-container"> <!-- Add the 'about-container' class here -->
      <h1 class="about-header">About Us</h1>
      <div class="about-text">
        <p>Our website is all about Japanese food. Discover a variety of traditional and modern dishes, like sushi, tempura, and ramen.</p>
        <p>Customize your own meal by selecting your favorites, and we'll provide detailed information about each dish.</p>
        <p>Our mission is to share the love of Japanese cuisine with everyone.</p>
        <p>Whether you're a foodie or just curious, join us on this flavorful adventure through the world of Japanese food!</p>
      </div>
    </div>
  {% endblock %}
</body>
</html>
