{% extends 'layout.html' %}
{% block content %}
<html>

  <h1 style="font-size: 45px;">About Us</h1>
  <p>Our website is all about Japanese food. Discover a variety of traditional and modern dishes, like sushi, tempura, and ramen.</p>
  <p>Customize your own meal by selecting your favorites, and we'll provide detailed information about each dish.</p>
  <p>Our mission is to share the love of Japanese cuisine with everyone. Whether you're a foodie or just curious, join us on this flavorful adventure through the world of Japanese food!</p>
</body>
</html>
{% endblock %}
