{% extends 'layout.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
  <title>Explore Delicious Japanese Cuisine</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='common') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='all_Japanese_food.css') }}">

</head>
<body>


</body>
</html>
<div class="food-container">
  <!-- Title for the page -->
  <h1 class="page-title">Explore Delicious Japanese Cuisine</h1>

  <!-- List of Japanese food items -->
  <ul class="food-list">
    {% for food in Japanese_food %}
      <li class="food-item">
        <!-- Create a link for each food item -->
        <a class="food-link" href="{{ url_for('Japanese_food', id=food.id) }}">
          <!-- Container for food image -->
          <div class="food-image-container">
            <!-- Image of the food -->
            <img class="food-image" src="{{ food.image_url }}" alt="{{ food.name }}">
          </div>
          <!-- Name of the food item -->
          <span class="food-name">{{ food.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>


{% endblock %}
