<!DOCTYPE html>
<html>
<head>
  <title>About Us - Japanese Food Website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>

{% extends 'layout.html' %}
{% block content %}
    <div class="base-details">
        <h1 class="base-name">{{ base.name }}</h1>
        <div class="description">
            <h2>Description:</h2>
            <p>{{ base.description }}</p>
        </div>
        <div class="meals">
            <h2>Meals Associated with {{ base.name }}:</h2>
            <ul class="meal-grid">
                {% for meal in base.meals %}
                    <li class="meal-item">
                        <div class="meal-container">
                            <a href="{{ url_for('Japanese_food', id=meal.id) }}">
                                <div class="image-container">
                                    <img src="{{ meal.image_url }}" alt="{{ meal.name }} Image" class="meal-image">
                                </div>
                                <p class="meal-name">{{ meal.name }}</p>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
