<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Discover Traditional Japanese Food</title>
  <!-- Link to your external CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap">
</head>
<body>
  {% extends 'layout.html' %}
  {% block content %}
    <div class="main-content">
      <section class="intro-section">
        <h1 class="section-title-h1">Discover Traditional Japanese Food</h1>
        <p class="section-text">
          Immerse yourself in the rich world of traditional Japanese cuisine! Explore a mosaic of flavors, textures, and cultural heritage that defines Japanese gastronomy.
        </p>
        <img src="{{ url_for('static', filename='images/TP0420h-bisyoku-3-3-02.jpg') }}" alt="Japanese Food Image" class="hero-image">
      </section>

      <section class="base-section">
        <h2 class="section-title">Bases Used in the Meals We Are Showing</h2>
        <div class="base-background">
          <div class="background-overlay"></div>
          <div class="base-list">
            <div class="base-row">
              {% for base in bases %}
              <div class="base-item">
                <div class="base-image-box">
                  <img src="{{ base.image_url }}" alt="{{ base.name }}" class="base-image">
                </div>
                <p class="base-name">{{ base.name | safe }}</p>
                <p class="base-description">{{ base.description | safe }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="all_Japanese_food" style="margin-bottom: 40px;">
      <h2 class="section-title" style="margin-left: 80px;">All Japanese Meals</h2>
      <div class="all-Japanese-food-description" style="padding: 0 80px;">
        <p class="description-text">
          Indulge in the enchanting world of Japanese cuisine—where every dish is a masterpiece of flavors and artistry. From delicate sushi rolls to hearty ramen bowls, each bite is a journey through time and tradition. The ancient blends harmoniously with the modern, creating a fusion that dances on your taste buds and resonates with your senses. Japanese dining isn't just about sustenance; it's a captivating experience that intertwines meticulous craftsmanship with a rich cultural legacy. Immerse yourself in the umami of miso, the allure of tempura, and the elegance of bento boxes. Step into a culinary voyage that captures the essence of Japan's heritage, served with a side of culinary mastery.
          <a href="{{ url_for('all_Japanese_food') }}" class="all-Japanese-food-link">See All Japanese Food</a>
        </p>
      </div>
    </section>
  {% endblock %}
</body>
</html>
