{% extends 'layout.html' %}

{% block content %}
<div class="main-content">
  <section class="intro-section">
    <h1 class="section-title">Discover Traditional Japanese Food</h1>
    <p class="section-text">
      Immerse yourself in the rich world of traditional Japanese cuisine! Explore a mosaic of flavors, textures, and cultural heritage that defines Japanese gastronomy.
    </p>
    <img src="{{ url_for('static', filename='images/TP0420h-bisyoku-3-3-02.jpg') }}" alt="Japanese Food Image" class="hero-image">
  </section>

  <section class="base-section">
    <h2 class="section-title">Select the Category:</h2>
    <div class="base-list">
      <div class="base-row">
        {% for base in bases %}
        <div class="base-item">
          <div class="base-image-box">
            <img src="{{ base.image_url }}" alt="{{ base.name }}" class="base-image">
          </div>
          <p class="base-name">{{ base.name | safe }}</p>
          <p class="base-description">{{ base.description | safe }}</p> <!-- Display the description below the base name -->
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

<style>
    /* Your custom styles here */
    body {
    background-image: url("{{ url_for('static', filename='images/japanese-background-floor-wall-background_43151-3159.avif') }}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .main-content {
    padding: 20px;
  }

  .intro-section, .base-section {
    margin-bottom: 40px;
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .section-text {
    font-size: 18px;
    line-height: 1.6;
  }

  .hero-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 20px;
  }

   /* New styles for the base selection section */
   .base-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .base-item {
    text-align: center;
    margin: 40px;
    width: 500px;
  }

  .base-image-box {
    width: 400px; /* Increase the width for larger images */
    height: 400px; /* Increase the height for larger images */
    border: 18px solid #5d3605;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0px;
  }

  .base-image {
    width: 380px; /* Increase the width of the base images */
    height: 380px; /* Increase the height of the base images */
    object-fit: cover;
    border-radius: 100%;
  }

  .base-name {
    font-size: 20px; /* Increase the font size of the base names */
    margin-top: 10px;
  }

  .base-description {
    font-size: 16px; /* Adjust the font size of the base descriptions */
    margin-top: 10px;
    color: #303030; /* Adjust the color of the description text */
  }

  /* Other styles... */
</style>
{% endblock %}
