{% extends 'layout.html' %}
{% block content %}

<div class="japanese-food-details">
  <h1 class="food-name">{{ Japanese_food.name }}</h1>
  <div class="food-image-container">
    <img class="food-image" src="{{ Japanese_food.image_url }}" alt="{{ Japanese_food.name }}">
  </div>
  <div class="description">
    <h2>Description:</h2>
    <p>{{ Japanese_food.description }}</p>
  </div>
  <div class="ingredients">
    <h2>Ingredients:</h2>
    <ul>
      {% for ingredient in Japanese_food.ingredients %}
        <li>
          <span class="ingredient-name">{{ ingredient.name }}</span>
          {% if ingredient.description %}
            <p class="ingredient-description">{{ ingredient.description }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="price">
    <h2>Price:</h2>
    <p>{{ Japanese_food.price }}</p>
  </div>
</div>


<style>
  /* Css styles here */

  /* styles for Japanese_food.html */
  body {
      background-color: rgb(230, 220, 207);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    }

    .japanese-food-details {
    background-color: #fffecfa7;
    padding: 30px;
    border-radius: 10px;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  }

  .food-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Set the image container to occupy the full width */
    overflow: hidden;
  }

  .food-image {
    width: auto; /* Allow the image to scale proportionally */
    max-height: 80%; /* Set the maximum height to fit within the container */
    max-width: 80%; /* Set the maximum width to fit within the container */
  }

  .description, .ingredients, .price {
    margin-bottom: 32px;
  }

  .ingredient-name {
    font-weight: bold;
    color: #000000; /* Color for ingredient names */
    font-size: 20px;
  }

  .ingredient-description {
    font-size: 16px;
    color: #323232; /* Color for ingredient descriptions */
    margin: 5px 0 0 20px; /* Indent the description slightly */
  }

  .description, .ingredients, .price {
    margin-bottom: 20px;
  }
</style>


{% endblock %}
