{% extends 'layout.html' %}
{% block content %}

<!-- Japanese_food.html -->
<div class="japanese-food-details">
  <h1 class="food-name">{{ Japanese_food.name }}</h1>
  <img class="food-image" src="{{ Japanese_food.image_url }}" alt="{{ Japanese_food.name }}" width="600" height="400">
  <div class="ingredients">
    <h2>Ingredients:</h2>
    <ul>
      {% for ingredient in Japanese_food.ingredients %}
        <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
