<!DOCTYPE html>
<html>
<head>
    <style>
        nav {
            text-align: center;
            background-color: #333;
            padding: 32px 0;
        }

        a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
            transition: color 0.3s;
        }

        a:hover {
            color: #ff6600;
        }

        hr {
            border: none;
            border-top: 1px solid #777;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/all_Japanese_food">All Japanese Food</a>
    </nav>
    <hr>
</body>
</html>
